h1 {
    font-size: 4em !important;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.8rem;
}

h3 {
    font-size: 0.8rem;
    line-height: 1.8em !important;
    font-weight: 400;
}

body {
    background-color: #F3F3F0;
}

/* Main Page Screen Size Changes, LG */

@media only screen and (max-width: 991px) {
    #mainvid {
        margin-top: 3rem;
    }

    #picDiv {
        margin-top: 60px !important;
        text-align: center;
    }

    #mynav {
        background-color: rgba(243, 243, 240, 0.9) !important;
        margin-top: 0px !important;
        position: fixed !important;
        padding-top: 40px !important;
        padding-bottom: 10px !important;
        padding-left: 0px !important;
        -webkit-box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.008);
        -moz-box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.08);
    }

    #mynav ul {
        position: static !important;
    }

    #mynav ul {
        text-align: center !important;
    }

    #mynav li {
        display: inline;
        padding: 0px 4vw !important;
    }

    .mainContent {
        margin-top: 10rem !important;
        /* padding: 0px 1.9rem; */
        /* background-color: hotpink !important; */
    }

    #bio {
        padding-right: 0px !important;
    }

    #work-tiles .col-lg-4 {
        padding: 0px 80px;
    }

    #work-tiles .col-lg-5 {
        margin-top: 30px;
    }

    #footer {
        padding-right: 0px !important;
    }
}


/* Main Page Screen Size Changes, MD */

@media only screen and (max-width: 768px) {
    #work-tiles .col-lg-4 {
        padding: 0px 10px !important;
    }

    #work-tiles .col-lg-5 {
        margin-top: 30px;
    }
}

#allContentContainer {
    max-width: 1400px;
}

#mynav {
    animation-delay: 1.2s;
    padding-top: 10vh;
    margin-top: 200px;
    /* margin-right: 7vw; */
    padding-left: 20px;
    font-family: 'Merriweather', serif !important;
    font-weight: 700;
    position: relative;
    z-index: 10;
}

#mynav ul {
    position: fixed;
}

#mynav a {
    text-decoration: none !important;
    color: #212529;
}

#mynav a:hover {
    color: #101213;
    text-decoration: underline !important;
}

#mynav ul {
    min-width: 20px;
    list-style-type: none;
}

#mynav li {
    padding: 0.2rem 0px;
}

.mainContent {
    margin-top: 14rem;
}

#ImMunir {
    animation-delay: 0s;
}

#occupation {
    animation-delay: 0.2s;
}

#bio hr {
    animation-delay: 0.2s
}

#blurb {
    animation-delay: 0.3s;
    text-align: justify;
}

#picDiv,
#contact-wrapper {
    animation-delay: 0.5s;
}

#picDiv {
    text-align: right;
}

.contact-logo {
    fill: #565656;
    transition: 0.05s;
}

.svg-wrapper {
    transition: 0.5s;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    padding: 6px;
}

.svg-wrapper:hover {
    background-color: #565656;
}

.svg-wrapper:hover .contact-logo {
    fill: white;
}

#pic {
    -webkit-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.54);
    box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.54);
}

#first-work-tile {
    animation-delay: 1.2s;
}

.work-title-category {
    margin: 0px;
}

.work-tile-title {
    font-weight: 600;
}

.rounded {
    border-radius: 5% !important;
}

.tileWrap:hover {
    cursor: pointer;
}

.tileWrap:hover .zoomHover {
    transform: scale(1.03);
}

.zoomHover {
    transition: transform .2s;
}

.tilePic {
    height: 400px;
    background-size: cover;
    background-position: center;
}

#sesa {
    background-image: url('../img/qlik.jpg');
}

#uottahack {
    background-image: url('../img/uottahack.jpg')
}

#footer {
    margin-bottom: 20px;
    padding-right: 120px;
}

#footer h2 {
    font-weight: 600;
}

/* Article Page Navigation */
.navi {
    font-family: 'Merriweather', serif !important;
    font-weight: 300;
}

/* Container testing */
.test {
    background-color: red;
}

.test2 {
    background-color: green;
}

.test3 {
    background-color: orange;
}

.mt-1 {
    margin-top: 1em !important;
}

.mt-2 {
    margin-top: 1.5em !important;
}

.mt-3 {
    margin-top: 3em !important;
}

.mt-5 {
    margin-top: 7em !important;
}

p {
    line-height: 1.8em !important;
    font-weight: 300;
    color: #565656;
    /* font-family: 'Montserrat', serif; */
}

b {
    font-weight: 500;
}

.shadow {
    -webkit-box-shadow: 7px 3px 19px -6px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 7px 3px 19px -6px rgba(0, 0, 0, 0.68);
    box-shadow: 7px 3px 19px -6px rgba(0, 0, 0, 0.68);
}

.caption {
    font-size: 0.8em;
    color: rgb(85, 85, 85);
}