.title {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 4em !important;
}

h2 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
}

body {
    background-color: #F3F3F0;
}

/* Main Page Screen Size Changes */

@media only screen and (max-width: 768px) {
    #mynav {
      /* background-color: rgb(199, 75, 199) !important; */
      margin-top: 1rem !important;
    }
    #mynav ul {
      text-align: center !important;
    }
    #mynav li {
        display: inline;
        padding: 0px 1.5rem !important;
    }
    #mymain {
        margin-top: 4rem !important;
        padding: 0px 1.9rem;
        /* background-color: hotpink !important; */
    }
}

#mynav {
    margin-top: 15rem;
    padding-left: 5vw;
    font-family: 'Merriweather', serif !important;
    font-weight: 700;
}

#mynav a {
    text-decoration: none !important;
    color: #212529;
}

#mynav a:hover {
    color: #101213;
    text-decoration: underline !important;
  }

#mynav li {
    padding: 0.2rem 0px;
}

/* Article Page Navigation */
.navi {
    font-family: 'Merriweather', serif !important;
    font-weight: 300;
}

/* Container testing */
.test {
    /* background-color: red; */
}

.test2 {
    /* background-color: green; */
}

.mt-1 {
    margin-top: 1em !important;
}

.mt-2 {
    margin-top: 1em !important;
}

.mt-3 {
    margin-top: 3em !important;
}

.mt-5 {
     margin-top: 7em !important;
}

p {
    line-height: 1.8em !important;
    font-weight: 300;
    /* font-family: 'Montserrat', serif; */
}

b {
    font-weight: 500;
}

.shadow {
    -webkit-box-shadow: 7px 3px 19px -6px rgba(0,0,0,0.68);
    -moz-box-shadow: 7px 3px 19px -6px rgba(0,0,0,0.68);
    box-shadow: 7px 3px 19px -6px rgba(0,0,0,0.68);
}

.caption {
    font-size: 0.8em;
    color: rgb(85, 85, 85);
}